<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Transport Management</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>

    <style>
        .table {
            margin-top: 10px;
            bottom: 0;
            height: auto;
            margin-left: 0px;
            border: 1px;
        }
    </style>
</head>

<body>
    <header>
        <%- include('../partials/navbar.ejs') %>
    </header>

    <div class="container">
        <%- include('../partials/SearchElement.ejs') %>
<% if(data!=null){%>

    <table class="table table-responsive table-hover" style="top:80px;">
        <thead style="position:sticky;background-color: darkgray;" class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Permissions</th>
                <th scope="col">CreatedBy</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(item => { %>
            <tr>
                <th scope="row"><%=item.ID%></th>
                <td><%=item.FirstName%></td>
                <td><%=item.LastName%></td>
                <td><%=item.Email%></td>
                <td><%=item.Permissions%></td>
                <td><%=item.CreatedBy%></td>

                <td>
                    <a href="ViewUser?UserId=<%=item.ID%>">View</a>
                    <a href="EditUser?UserId=<%=item.ID%>">Edit</a>
                    <a href="DeleteUser?UserId=<%=item.ID%>">Delete</a>
                </td>
            </tr>
            <%})%>
        </tbody>
    </table>
    <div class="row">
        <form action="/AdminTaskController/ViewUsers" method="post">
            <input type="hidden" id="clickedButton" name="clickedButton"/>
            <input type="hidden" id="pageToFetch" name="pageToFetch" />
            <div class="form-group">
            <button type="submit" class="btn btn-primary col-sm-1 offset-3" id="previous" style="display: inline;">Previous</button>
            <div id="pageNumber" class="col-sm-1 offset-1" style="display:inline;"></div>
            <button type="submit" class="btn btn-primary col-sm-1 offset-1" id="next" style="display: inline;">Next</button>
            </div>
        </form>

        <!-- <a href="https:///Administration/GetInvoicesByDatenPage?pageToGet=Previous" id="Previous" class="btn btn-primary col-sm-1 offset-3">Previous</a>
        <div id="pageNumber" class="col-sm-1 offset-1"></div>
        <a href="https:///Administration/GetInvoicesByDatenPage?pageToGet=Next" id="Next" class="btn btn-primary col-sm-1 offset-1">Next</a> -->
    </div>
</div>
<%}%>
</body>
<script type="text/javascript">
    $(document).ready(function () {

        // if(location.href.indexOf('AdminTasks/Task/')!=-1){
        //     sessionStorage.setItem("userToSearch", '');
        //     sessionStorage.setItem("UserPageNo", "1");
        // }

        var userToSearch = sessionStorage.getItem("userToSearch");
        var currentPage = sessionStorage.getItem("UserPageNo");

        $("#SearchUser").val(userToSearch);

        if (currentPage == null) {
            sessionStorage.setItem("UserPageNo", "1");
            $("#pageNumber").text("1");
        }
        else {
            $("#pageNumber").text(currentPage);
        }
    });

    $("#next").on("click", function () {
        sessionStorage.setItem("UserPageNo", parseInt($("#pageNumber").text())+1 );
        $("#clickedButton").val('next');
        $("#pageToFetch").val(parseInt($("#pageNumber").text())+1);
    });

    $("#previous").on("click", function () {
        
        $("#clickedButton").val('previous');

        var pageNoVal = parseInt($("#pageNumber").text());

        if(pageNoVal > 1){
            $("#pageToFetch").val(parseInt($("#pageNumber").text())-1);
            sessionStorage.setItem("UserPageNo", parseInt($("#pageNumber").text()) - 1);
        }
        else{
            $("#pageToFetch").val('1');
            sessionStorage.setItem("UserPageNo",'1');
        }
        
    });

    $("#submit").on("click", function () {
        
        var userToSearch = $("#SearchUser").val();

        sessionStorage.setItem("userToSearch", userToSearch);

        sessionStorage.setItem("UserPageNo", "1");
    });
</script>
</html>