<html>
 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Transport Management</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"> -->

    <style>
        .table {
            margin-top: 10px;
            bottom: 0;
            height: 400px;
            margin-left: 0px;
            border: 1px;
        }
    </style>
</head>
<body>
    <header>
        <%- include('../partials/navbar.ejs')%> 
        
    </header>
<% if (data != null){ %>
<div class="container">
    <%- include('../partials/DateElement.ejs')%>
    <table class="table table-responsive table-hover" style="width:1100px;">
        <thead style="position:sticky; top:0px;background-color: darkgray;" class="thead-dark">
            <tr>
                <th scope="col">InvoiceID</th>
                <th scope="col">InvoiceDate</th>
                <th scope="col">Sender</th>
                <th scope="col">Receiver</th>
                <th scope="col">ItemInfo</th>
                <th scope="col">TotalPrice</th>
                <th scope="col">PaidPrice</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(item => { %>
            <tr>
                <th scope="row"><%=item.SystemInvoiceId%></th>
                <td><%=item.InvoiceDate%></td>
                <td><%=item.Sender%></td>
                <td><%=item.Receiver%></td>
                <td><%=item.ItemInfo%></td>
                <td><%=item.TotalPrice%></td>
                <td><%=item.PaidPrice%></td>
                <td>
                    <a href="/TransportOrder/ViewOrder?invoiceID=<%=item.SystemInvoiceId%>">View</a>
                    <a href="/TransportOrder/EditOrder?invoiceID=<%=item.SystemInvoiceId%>">Edit</a>
                    <a href="/TransportOrder/DeleteOrder?invoiceID=<%=item.SystemInvoiceId%>">Delete</a>
                </td>
            </tr>
                <%})%>
        </tbody>
    </table>
    <div class="row">
        <form action="/TransportOrder/Orders" method="post">
            <input type="hidden" id="clickedButton" name="clickedButton"/>
            <input type="hidden" id="pageToFetch" name="pageToFetch" />
            <div class="form-group">
            <button type="submit" class="btn btn-primary col-sm-1 offset-3" id="previous" style="display: inline;">Previous</button>
            <div id="pageNumber" class="col-sm-1 offset-1" style="display:inline;"></div>
            <button type="submit" class="btn btn-primary col-sm-1 offset-1" id="next" style="display: inline;">Next</button>
            </div>
        </form>

        <!-- <a href="https:///Administration/GetInvoicesByDatenPage?pageToGet=Previous" id="Previous" class="btn btn-primary col-sm-1 offset-3">Previous</a>
        <div id="pageNumber" class="col-sm-1 offset-1"></div>
        <a href="https:///Administration/GetInvoicesByDatenPage?pageToGet=Next" id="Next" class="btn btn-primary col-sm-1 offset-1">Next</a> -->
    </div>
</div>
<%}%>
</body>

<script type="text/javascript">
    $(document).ready(function () {
        var fromDate = sessionStorage.getItem("fromDate");
        var toDate = sessionStorage.getItem("toDate");
        var currentPage = sessionStorage.getItem("PageNo");

        $("#fromDate").val(fromDate);
        $("#toDate").val(toDate);

        if (currentPage == null) {
            sessionStorage.setItem("PageNo", "1");
            $("#pageNumber").text("1");
        }
        else {
            $("#pageNumber").text(currentPage);
        }
    });

    $("#next").on("click", function () {
        sessionStorage.setItem("PageNo", parseInt($("#pageNumber").text())+1 );
        $("#clickedButton").val('next');
        $("#pageToFetch").val(parseInt($("#pageNumber").text())+1);
    });

    $("#previous").on("click", function () {
        
        $("#clickedButton").val('previous');

        var pageNoVal = parseInt($("#pageNumber").text());

        if(pageNoVal > 1){
            $("#pageToFetch").val(parseInt($("#pageNumber").text())-1);
            sessionStorage.setItem("PageNo", parseInt($("#pageNumber").text()) - 1);
        }
        else{
            $("#pageToFetch").val('1');
            sessionStorage.setItem("PageNo",'1');
        }
        
    });

    $("#submit").on("click", function () {
        var fromDate = $("#fromDate").val();
        var toDate = $("#toDate").val();

        sessionStorage.setItem("fromDate", fromDate);
        sessionStorage.setItem("toDate", toDate);

        sessionStorage.setItem("PageNo", "1");
    });
</script>

</html>